body
{
	font-family: 'Chilanka', cursive;
	font-family: 'Fjalla One', sans-serif;
	color: red;
}

.header
{
	height: 90vh;
	width: 100%;
	color:white;
	background-image:url('hh.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.h-100
{
	height: 100%;
	width: 100%;
}

.btn
{
	border-radius: 5rem !important;
	padding:0.15rem 2.00rem !important;
}

img
{
	border-radius: 50%;
}

.tech
{
	background-image:url('hh.jpg');
	background-attachment: fixed;

}

.Exp
{
	background-image:url('kk.jpg');
	background-attachment: fixed;
	background-size:cover;
}

.projects
{
background-image:url('nn.png');
background-attachment: fixed;
background-size:cover;
}

footer
{
	color:white;
	bottom:0px;
	width:100%;
	background:#111;
}
.main-content
{
	display:flex;
}

.main-content .box
{
	flex-basis:50%;
	padding:10px 20px;
}

.t
{
	color:white;
}

.E
{
	color:white;
}
.pr
{
	color:white;
}
.form-to-connect{
	width: 30%;
	padding: 20px;
}
.form-to-connect h2{
	margin-left: 5%;
}
.form-to-connect label{
	margin: 0;
}
.form-container input{
	margin-left: 5%;
	width: 250px;
	/* border-radius: 20px; */
	padding-left: 10px;
	border: 2px solid white;
	background-color: transparent;
	color: white;
}
.form-to-connect textarea{
	width: 85%;
	margin-top: 20px;
	max-height: 150px;
	min-height: 80px;
	margin-left: 5%;
}

.form-to-connect button{
	width: 55%;
	margin-top: 20px;
	height: 50px;
	background-color: #6e6d6b;
	color: white;
	border-radius: 20px;
	padding: 10px;
	cursor: pointer;
	border: none;
}

.form-to-connect button:hover{
	background-color: white;
	color: black;

}
